table {
border: 2px solid gray;
border-collapse: collapse;
}

td {
    border: 2px solid gray;
}

p {
    text-align: center;
    font-weight: bold;
    color: black;
}

.student {
    text-align: center;
}

.full_name {
    text-align: start;
}
